html {
  font-size: 10px; 
}

body, html {
  margin: 0;
  padding: 10rem;
  font-family:sans-serif;
  display:flex;
  flex-direction:column;
  //justify-content:center;
  align-items:center;
  
}

.btn-choice {
  border: .4rem solid black;
  roder-radius: .5rem;
  margin: 1rem;
  font-size: 3rem;
  padding 1rem .5rem;
  width: 20rem;
  height: 10rem;
  text-align:center;
  color:white;
  text-shadow: 0 0 .5rem black;
  background-color: black;   
}

.results {
  font-size:32px;
  height: 5rem;
}

.result-analysis {
  font-size:32px;
  height: 10rem;
}

.game-over {
  font-size:32px;
  height: 10rem;
  padding: 5rem;
}

.rounds {
  font-size:32px;
  height: 10rem;
  padding: 1rem;
}
